@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
    --font-geist-sans: 'GeistSans', sans-serif;
    --font-geist-mono: 'GeistMono', monospace;
  }
  
  body {
    font-family: var(--font-geist-sans);
  }
  
  code {
    font-family: var(--font-geist-mono);
  }