@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --font-geist-sans: 'GeistSans', sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
}

body {
  font-family: var(--font-geist-sans);
  max-height: 100vh;
}

html, body {
  overflow: hidden;
}

code {
  font-family: var(--font-geist-mono);
}

/* spinner */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}